<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617035942335-t7o7kgc0emh7aqk4rvftsf8a75nmad3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617035942335-t7o7kgc0emh7aqk4rvftsf8a75nmad3b</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Pl3WPTl993F6r4ta7uLEi4Uie8R-liE</string>
	<key>GCM_SENDER_ID</key>
	<string>617035942335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.united102.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>seo-rsk-bank</string>
	<key>STORAGE_BUCKET</key>
	<string>seo-rsk-bank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617035942335:ios:32760dc28ab0a11801b90a</string>
</dict>
</plist>